@media(max-width:992px){
    
    .header>nav  .logo-content-media{
        display: block;
    }
    .header>nav  .logo-content-style{
        display: none;
    }
    
    .btn-sidebar{
        display: none;
    }
    .containerflex{
        align-items: start;
        justify-content: start;
    }
    .container .cleaning-text{
        font-size: 50px;
    }
    .container .appointment-booking .btn-livebooking{
            margin-top: 10px;
    }
    .contact-phone>div{
        padding: 25px 30px;
    }
    .contact-second-row{
        margin-top: 0px;
    }

}
@media(min-width:1200px) and (max-width:1400px){
    .header>nav a{
        margin: 5px 20px;
    }
}

@media (min-width: 992px){
    
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom > .container {
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
@media(min-width:992px) and (max-width:1200px) {
    .header>nav a{
        margin: 5px 0px;
    }
   
}