*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
body{
    font-family: "Readex Pro", sans-serif;
}
.bg-blue{
    background-color: #F0F4FF;
}
.bg-dark-blue{
    background-color: #6870D1;
}
.display-18{
    font-size: 18px;
}
.display-7{
    font-size: 20px;
}

.header>nav a{
    font-size: 18px;
    font-family:sans-serif;
    font-weight: bold;
    color: #3A3E5E;
    cursor: pointer;
}
.header>nav a:hover{
    color: #000;
}
.header>nav .logo{
    height: 50px;
    width: 50px;
}
.header>nav .logo-content-style span, .header>nav .logo-content-media span, .header>nav .offcanvas h2{
    color: #6870D1;
    font-size: 1.25rem;
}
.header>nav .logo-content-style span:hover, .header>nav .logo-content-media span:hover{
    color: #000;
}
.offcanvas{
    width: 480px !important;
    padding: 27px 60px 27px
}
.offcanvas-body p{
    font-size: 18px;
    color: #232323;
}
.social-media-icons i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
}
.navbar-toggler{
    border-radius: 50%;
    border: transparent !important;
    background-color: #6870D1 !important;
    height: 48px;
    width: 48px;
}
.navbar-toggler:hover{
    border: transparent !important;
}
.header .fa-bars{
    background-color: #6870D1 !important;
    color: #fff;
    border: transparent ;
    border-radius: 50%;
}
.btn-sidebar{
    margin-left: 0px;
}
.btn-navbar{
    color: #fff;
}
.navbar-bar-btn{
    font-size: 24px;
}
.container .cleaning-text{
    font-size: 100px;
    /* font-size: 5.5vw; */
    font-weight: bold;
    color: #6870D1;
}
.container .cleaning-text-color{
    color: #6870D1;
}
.container .appointment-booking .btn-appointment{
    background-color: #6870D1;
    padding: 10px 40px;
}
.container .appointment-booking .btn-appointment:hover{
    background-color: #353EAD;
}
.container .appointment-booking .btn-livebooking{
    background-color: #e082c5 ;
    padding: 10px 30px;
}

.container .appointment-booking .btn-livebooking:hover{
    background-color:#CF3DA5 ;
}

.container .start-long-column{
    height: 800px;
    border-bottom-right-radius: 25px;
}
.container .standard-image{
    margin-left: 30px !important;
}
.container .start-separate-container{
    background-color: #8e94e0;
    padding:50px 100px;
    width: 420px;
    height: 600px;
    margin-left: -220px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}
.container .another-separate-container{
    background-color: #8e94e0;
    padding:50px 100px;
    width: 400px;
    margin-left: -200px;
    margin-bottom: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}
.container .another-separate-container img{
    height: 44px;
    width: 66px;
    margin: auto;
    border-radius: 6px;
}
.container .start-separate-container img{
    height: 44px;
    width: 66px;
    margin: auto;
    border-radius: 6px;
}
.container .start-separate-container>div{
    width: 250px;
    height: 116px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}
.container .start-separate-container .start-basic{
  position: absolute;
  left: -42px;
  top: 60px;
}
.container .start-separate-container .start-standard{
    position: absolute;
    right: -50px;
    top: 200px;
}
.container .start-separate-container .start-move-out{
    position: absolute;
    left: -42px;
    top: 350px;
}

.container .another-separate-container .start-basic{
    position: absolute;
    left: 15px;
    top: 60px;
}
  .container .another-separate-container .start-standard{
    position: absolute;
    left: 15px;
    top: 200px;
}
.container .another-separate-container .start-move-out{
    position: absolute;
    left: 15px;
    top: 350px;
}
.container .bottom-container-cleaner{
    margin: 0 auto;
}
.container .centering-container-basics {
    width: 280px;
}
/* features */
.features .circles-loading{
    font-size: 10px;
}

.features .feature-card-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.features .feature-card-body p{
    min-height: 135px;
}
.features .feature-card-body{
    position: relative;
}

.features .feature-card-body .feature-number{
    position: absolute;
    bottom: -30px;
    right: 30px;
}
.fs-30{
    font-size: 30px;
}
.fa-bolt-icon{
   font-size: 60px;
}
.feature-bolt-content{
    margin-left: -60px;
}
.col-feature{
    display: none;
}
/* sanitized */
.container .cleaning-start{
    background-color: #6870D1;
    border-top-right-radius: 25px;
}
.container .start{
    width: fit-content;
    padding: 10px;
    margin-top: 65px !important;
}
.container .sanitized-cleaning i{
    color: #e082c5;
}
.container .sanitized-cleaning .sanitized-cleaning-heading{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 32px;
    color: #e082c5;
}
.container .sanitized-cleaning .sanitized-cleaning-para{
    font-size: 20px;
}
.text-dark-blue{
    color: #6870D1;
}

.container .sanitized-h1tag{
    margin-bottom: 42px;
}

/* Review  */
.container .review-lorem-text{
    color: #3a3e5e;
}
.container  .review-image{
    height: 60px;
    width: 60px;
}
.container  .review-image img{
    height: 100%;
    width: 100%;
}
.container .review .review-para{
    font-size: 20px;
}


.container .review-content p{
    color: #5e627d;
}
.container .review-icon i{
    cursor: pointer;
    font-size: 20px;
    color: #5e627d;
}
.margin-top-images{
    margin-top: 100px;
    /* padding: 100px; */
}
.margin-top-images img{
    cursor: pointer;
    height: 100%;
    width: 100%;
}

/* Stages */
.stages-heading{
    color: #3a3e5e;
}
.stages-para{
    padding:35px 40px 0px 40px ;
}
.stages-para p{
    color: #3a3e5e;
}
.stages-para .stages-content-para{
    font-weight: 600;
    line-height: 1;
}
.stages-para strong{
    font-weight: bolder;
}
.stages-content-width .stages-para{
    width: 450px;
    height: 173px;
}
.container .satges-button{
    height: 40px;
    width: 40px;
}
.container .satges-button:hover{
    cursor: default;
    background-color:#6870D1 ;
}
.accordian-padding{
    padding: 0 !important;
}
.accordian-padding .border-top, .accordian-padding .border-bottom{
    border-color: #6870D1 !important;
    border-width: 1px !important;
}
.accordian-padding a{
    text-decoration: none !important;
    color: #6870D1 !important;
}
.accordian-padding a i{
    font-size: 18px;
    color: #000 ;
}


/* Our pricing */
.pricing .pricing-row .circles-loading i{
    font-size: 10px;
}
.pricing .pricing-plan{
    background-color: #ebecff;
}
.pricing  .pricing-plan-content p{
    text-decoration: underline;
    color: #9e9ac1;
}
.pricing  .pricing-plan-content{
    min-height: 550px;
}
.pricing  .pricing-plan-content li{
    margin-top: -5px;
}
.pricing  .pricing-plan-content li:hover{
    color: #6870D1;
}
.pricing .pricing-plan-button  button:hover{
    background-color: #353EAD;
}

/* contact us */
.contact-us-form .bg-form-pop{
    background-color: #70c770;
    font-size: 17.5px;
    color: #fff;
    display: none;
}
.contact-us-form .form form input[type='text'], .contact-us-form .form form input[type='email'],.contact-us-form .form form textarea {
    width: 100%;
    border: transparent;
    outline: transparent;
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 5px;
}

.contact-us-form .form form .form-stage p, .contact-us-form .form form .form-variant p{
    margin: 10px 0px 0px 0px;
    color: #3A3E5E;

}
.contact-us-form .form form .form-stage span, .contact-us-form .form form .form-variant span{
    color: #3A3E5E;
}
.btn-outline-blue{
    background-color: #353EAD;
}
.form .btn-to-begin{
    background-color: #e082c5;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    width: 70%;
}
.form .btn-to-begin:hover{
    background-color: #CF3DA5;
    
}
/* .container .contact-form-image{
    height: 700px;
} */
.container .contact-form-image img{
    height: 100%;
    width: 100%;
}
input[type='radio']{
    accent-color: #6870D1;
    border: none;
}
input[type='radio']:checked{
    border: transparent;
    border-color: #fc8404;
}
.custome-checkbox label{
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: transparent;
    position: relative;
}
.custome-checkbox label span{
    position: absolute;
   left: 35px;
   top: -3px;
   color: #3A3E5E;
   font-size: 20px;
}
.radio-btn{
    height: 20px;
    width: 14px;
    border: transparent !important;
    background-color: #fff;
    border-radius: 50%;
    cursor: default;
}

/* contact phone */
.contact-phone{
    height: 150px;
}
.contact-phone>div{
    padding: 25px 60px;
}
.contact-phone .contact-phone-content h2{
    color: #e082c5;
}
.contact-phone .contact-phone-content p, .contact-phone i{
    color: #6870D1;
    transition: 0.3s;
}
.contact-phone .contact-phone-content p:hover{
    cursor: pointer;
    color: #fff;
}
.contact-phone .contact-address-content p{
    color: #e082c5;
}
.contact-phone .contact-address-content p:hover{
    color: #e082c5;
    cursor:auto;
}
 .contact-second-row{
    margin-top: 25px;
}


/* partner */
.partner .partner-image{
    height: 130px;
    width: 100%;
}

.partner .partner-image img{
    height: 100%;
    width: 100%;
}
.card-img-height{
    height: 170px;
}
.btn-partner-pink{
    background-color: #e082c5;
    color: #fff;
    padding: 10px 20px;
    width: 200px;
    margin-top: 15px !important;
}
.btn-partner-pink:hover{
    background-color: #CF3DA5;
    color: #fff;
}
.partner .card-text{
    height: 150px;
}

/* image caresoul */

.carousel-container .carousel-inner{
    color: #3a3e5e;
}
.carousel-control-buttons{
    background-color: #6870D1;
    color: #6870D1;
    height: 50px;
    width: 50px;
    padding: 20px;
    position: relative !important;
    border-radius: 50%;
    opacity: 1 !important;


}
.carousel-control-buttons:hover{
    background-color: #6870D1;

}
.carousel-control-buttons span{
    height: 50px;
    width: 50px;
    padding: 20px;
    border-radius: 50%;
    background-color: #6870D1 !important;
    opacity: 1 !important;


}
.carousel-control-buttons span:hover{
    background-color: #6870D1;
}
 .carousel-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.carousel-control-next{
    position: relative;
}
.carousel-control-next span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.carousel-container .carousel-inner .fa-instagram{
    font-size: 32px;
    margin-top: -12px;
    color: #3a3e5e;
}
/* .image-carousel-slider{
    padding:100px 170px !important;
    position: relative;
}
.image-carousel-slider img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.image-carousel-slider .bg-carousel-blue{
    background-color: #F0F4FF;
    padding: 80px 80px;
}
.image-carousel-slider .bg-carousel-blue p{
    color: #3a3e5e;
    font-weight: 500;
}
.image-carousel-slider .carousel-control-prev{
    position: absolute;
    top: 50%;
    left: 130px;
    background-color: #6870D1 !important;
    opacity: 1 !important;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    font-weight:bolder ;
}
.image-carousel-slider .carousel-control-next{
    position: absolute;
    top: 50%;
    right: 130px;
    background-color: #6870D1 !important;
    opacity: 1 !important;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    font-weight:bolder ;
    border-radius: 50%;
}
.image-carousel-slider .name-icon{
    margin-top: 25px;
}
.image-carousel-slider .name-icon p{
    color: #9e9ac1;
}
.image-carousel-slider .fa-instagram{
    font-size: 30px;
    margin-top: -3px;
    color: #9e9ac1;
}
.carousel-padding-media{
    padding: 0px 20px;
} */

/* footer */
.footer .footer-keeping-clean p{
    color: #bbbbbb;
}
.footer-copy p{
    color: #bbbbbb;
}